.authentication-page {
  height: 100vh;
  position: relative;
}

.authentication-page .input-icon span {
  color: var(--black);
  left: 0.6rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.form-container .h3 {
  padding-bottom: 1rem;
}

.authentication-form-container {
  margin-top: 1.88rem;
  z-index: 1;
}

.input-with-icon {
  position: relative;
}

.input-with-icon > input {
  max-width: 23rem;
}

.input-icon > input {
  max-width: 21.88rem;
}

.icons-right {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-content: center;
  flex-wrap: wrap;
  min-width: 25rem;
  padding: 1rem;
  box-shadow: var(--btn-box-shadow);
  color: var(--white);
  font-weight: bolder;
  background-color: var(--white);
  border-radius: 0.5rem;
}

.h3,
.checkbox,
.btn-link {
  text-align: center;
}

.authentication-page .input-label {
  color: var(--black);
  text-align: left;
  margin: 0;
}

.form .btn-link {
  margin: 0;
  color: var(--black);
}

.checkbox-detail {
  margin-left: 0.5rem;
  color: var(--black);
}

.form-container .input-icon .input {
  padding-left: 2.4rem;
}

.checkbox-container {
  width: 100%;
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-form .checkbox-container {
  justify-content: space-between;
}

.checkbox {
  margin-top: 0.15rem;
}

.login-form {
  margin-top: 6.25rem;
}

.logout-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.authentication-page .btn-cta {
  color: var(--white);
}

.btn-cta:hover {
  background-color: var(--primary-light-shade);
}

@media screen and (max-width: 567px) {
  .input-with-icon > input {
    max-width: 19rem;
  }

  .form {
    min-width: 20rem;
  }

  .input-icon > input {
    max-width: 21rem;
  }

  .login-form input {
    max-width: 17.5rem;
  }

  .checkbox-container {
    font-size: 0.9rem;
  }
}
