.video-card-container {
  max-width: 18.75rem;
  width: 100%;
  height: auto;
  border: 1px solid var(--hover-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.video-description {
  gap: 7px;
  text-align: left;
  padding-left: 0.5rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.video-cta {
  width: 100%;
  background-color: var(--grey);
  height: 4vh;
  margin-top: 0.5rem;
  text-align: center;
}

.video-cta .btn-text {
  background-color: transparent;
  color: var(--white);
  padding-top: 0.4rem;
  cursor: pointer;
}

.video-card-container .icon {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  cursor: pointer;
  color: var(--raisin-black);
  font-size: 1.3rem;
  background-color: var(--white);
  border-radius: 50%;
  padding: 0.18rem;
}

.video-thumbnail {
  max-height: 170px;
  height: 100%;
  object-fit: cover;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.video-list-modal-container {
  position: relative;
}

.video-list-modal-container .submenu-modal {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
  box-shadow: var(--btn-box-shadow);
  background-color: rgb(36, 33, 33);
  color: white;
}
