.category-card-container {
    max-width: 18.75rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-family: "Vibur", sans-serif;
  }
  
  .category-card-container .video-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    font-weight: bolder ;
    font-size: 1.3rem;
    color: var(--white);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    letter-spacing: 0.2rem;
    cursor: pointer;
  }

  .video-heading:hover{
      font-size: 1.5rem;
  }
    
  .video-thumbnail {
    max-height: 200px;
    height: 100%;
    object-fit: cover;
  }

  