.hero-img {
  max-width: 62.5rem;
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.library-home-page {
  display: flex;
}

.library-home-sidebar {
  flex: 0.1;
}

.hero-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-img-overlay {
  position: absolute;
  background-color: transparent;
  text-align: center;
  font-weight: bolder ;
  font-size: 1.5rem;
  color: var(--raisin-black);
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff; 
  z-index: 1;
  letter-spacing: 0.2rem;
}

.main-content-page {
  max-width: 62.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
  flex: 0.9;
}

.two-box-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.25rem;
  justify-content: center;
}

