.video-page {
  position: sticky;
  width: 53.12rem;
  height: 34.37rem;
  left: 0;
  top: 0;
  flex: 0.7;
}

.video-page-container {
  display: flex;
  gap: 2.5rem;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 2rem;
}

.video-page-sidebar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}

.video-page-sidebar .h3 {
  color: var(--white);
}

.video-page-sidebar > .video-card-container {
  margin-bottom: 1.25rem;
}

.page-title {
  color: var(--white);
}
