.playlist-container {
  max-width: 18.75rem;
  width: 100%;
  height: 6.25rem;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.playlist-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
  text-align: left;
  padding-left: 0.5rem;
}

.playlist-container .icon {
  cursor: pointer;
  color: black;
  font-size: 1.3rem;
  background-color: white;
  border-radius: 50%;
  background-color: var(--hover-grey);
  padding: 0.3rem;
}
