.playlist-container {
  max-width: 18.75rem;
  width: 100%;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem;
  background-color: var(--white);
}

.playlist-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
  text-align: left;
  padding-left: 0.5rem;
  color: var(--black);
}

.playlist-title {
  color: var(--black);
  text-decoration: none;
}

.playlist-container .btn-icon {
  cursor: pointer;
  color: var(--raisin-black);
  font-size: 1.3rem;
  background-color: var(--hover-grey);
  padding: 0.3rem;
  border-radius: 50%;
  border: none;
}

.playlist-container .btn-icon:hover {
  box-shadow: var(--btn-box-shadow);
}
