.simple-header > .header {
  height: 10vh;
  width: 100%;
  border: none;
  box-shadow: var(--btn-box-shadow);
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.simple-header .input-icon span{
  left: 0.5rem;
}

.sub-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}


.nav-brand {
  font-family: "Comforter", cursive;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  font-size: 2.8rem;
  color: var(--light-raisin-black);
}


