.simple-header > .header {
  position: fixed;
  height: 10vh;
  width: 100%;
  min-width: 0;
  border: none;
  box-shadow: var(--btn-box-shadow);
  background-color: var(--black);
  z-index: 5;
  top: 0;
  left: 0;
  overflow: auto;
}

.header .btn {
  margin-bottom: 0;
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.sub-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-decoration: none;
}

.header-icon {
  padding-left: 0.5rem;
}

.nav-brand {
  font-family: "Comforter", cursive;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  font-size: 2.3rem;
  color: var(--hover-grey);
}

.header-menu-icon .material-icons {
  font-size: 2.5rem;
  color: var(--grey);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.simple-header .input-icon span {
  left: 0.5rem;
}

@media screen and (max-width: 567px) {
  .header-items {
    padding: 0.2rem;
  }

  .nav-brand {
    font-size: 1.5rem;
  }
}
