.chips-container {
  display: flex;
  justify-content: flex-start;
  gap: 1.25rem;
  padding: 1rem;
}

.chips-list {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.chips {
  display: inline-block;
  border: 1px solid var(--hover-grey);
  padding: 0.3rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
}

.active {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
}
