.video-side-bar {
  overflow-y: auto;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  flex: 0.2;
  max-width: 6.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  align-items: center;
  box-shadow: var(--btn-box-shadow);
  background-color: var(--black);
}

.video-sidebar-menu {
  display: flex;
}

.video-sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

.video-side-links > a {
  list-style: none;
  text-decoration: none;
  color: var(--grey);
}

.video-side-links {
  list-style-type: none;
  color: var(--grey);
}

.video-side-links:hover {
  font-size: 0.9rem;
}

.video-side-links > a:hover {
  color: var(--white);
  transition: 200ms color ease-in;
}

.library-home-page {
  display: flex;
}
