.modal_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 4;
}

.modal {
  position: relative;
  max-width: 18.75rem;
  min-height: 12.5rem;
  background: var(--white);
  color: var(--raisin-black);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  animation: fadeInDown 1s;
}

.modal_content_list > li {
  list-style-type: none;
}

.modal_content_list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal_heading {
  font-weight: bolder;
}

.unordered_list {
  display: flex;
  gap: 0.63rem;
  color: var(--black);
  align-items: center;
}

.modal_close_icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  cursor: pointer;
  color: var(--raisin-black);
  background-color: transparent;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
