@import url("react-toastify/dist/ReactToastify.css");

body {
  margin: 0;
  font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #373637;
  letter-spacing: 0.06rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: rgb(216, 22, 22);
  --primary-light-shade: rgb(245, 130, 130);
  --image-overlay: rgba(0,0,0,0.1);
  --black: black;

}
